<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="clientId" value="0oa7uo7u20xkLrzen5d7"/>
		<add key="tenantUrl" value="https://dev-17687012.okta.com"/>
		<add key="redirectURI" value="http://localhost:7081/"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>